.form-label.required-field {
  position: relative; }

.form-label.required-field::after {
  content: "*";
  position: absolute;
  display: inline;
  color: red; }

.main-container {
  padding-top: 12px; }
