<div class="book-detail row">
  <div class="col-xs-12 col-sm-9">
    <div class="book-detail__content">
      <h3 class="book-title"><%= book.name %></h3>
      <div class="book-thumbnail">
        <img src="<%= book.image %>" alt="Book Detail Image" />
      </div>
      <div class="book-description">
        <span> <%= book.description %> </span>
      </div>
    </div>
  </div>
</div>
